.body{
    background-color: #F2EAE2;
}

.card{
    /* font-family: 'Figtree', sans-serif; */
    width: 343px;
    height: 611px;
    border-radius: 20px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    top: 28px;
    left: 16px;
}

.img{
    width: 343px;
    height: 240px;
    object-fit: cover;
}

.parfum{
    margin: 24px;
    width: 92px;
    height: 15px;
    top: 264px;
    left: 24px;
}

.title{
    margin: 24px;
    width: 295px;
    height: 64px;
    top: 291px;
    left: 24px;
}

.desc{
    margin: 24px;
    width: 295px;
    top: 371px;
    left: 24px;
}

.desc-title{
    color:#6C7289 ;
    font-size: 16px;
}

.price{
    font: bold;
    display: flex;
    align-items: center;
    margin: 24px;
    width: 194px;
    height: 32px;
    top: 487px;
    font-size: 32px;
    color: #3D8168;
    gap: 10px;
}

.old-price{
    color:#6C7289 ;
    font-size: 15px;
    text-decoration-line: line-through;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    width: 295px;
    height: 48px;
    margin: 24px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #3D8168;
    gap: 10px;
}
.button:hover{
    transform: scale(1.1);
    background-color: #1c684c;
}


.icon{
    width: 20px;
    height: 20px;
    top: 1px;
}
